# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# chip support pack (reinstall via EIDE Package Manager)
/.pack

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
